<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="cen">
            <a href="{% url 'list' %}"><img width="500" height="215" src="{% static 'img/logo.jpg' %}"></a>
        </div>
        {% block main %}
        {% endblock main %}
        <br><br><br>
        <p class="down">DMKOSHKIN<br>2018 (с)</p>
    </body>
</html>