{% extends "abstract.html" %}
{% load staticfiles %}

{% block title %}Результат LIC-файла{% endblock title %}

{% block main %}
<p>
	{%if content_tree|length != 0 %}
		<div class="package_table" align="center">
			<table width="800px" border="1">
				<tr>
					<th width="30%">Поставка - Регномер</th>
					<th>Информация о пользователе</th>
				</tr>
				{% for item in content_tree %}
				<tr>
					<td align="center"><b>Имя файла: {{ item.file }}<br><br>Номер поставки: {{ item.package }}<br><br>Текущий активированный пинкод: {{ item.pincode }}</b></td>
					<td><b>{{ item.content|safe }}</b></td>
				</tr>		
				{% endfor %}
			</table>
		</div>
	{% else %}
		<p align="center">Информация не получена!</p>
	{% endif %}
	<br><br>
	<div align="center">
		<a href="{% url 'list' %}">Вернуться назад</a>
	</div>	
</p>
{% endblock main %}