{% extends "abstract.html" %}
{% load staticfiles %}

{% block title %}Загрузка LIC-файла{% endblock title %}

{% block main %}
<div class="package_table" align="center">
	<table width="800px" border="1">
		<tr>
			<td>
					<p class="indent">Файлы с расширением .lic являются файлами программных лицензий 1С Предприятия.</p>
					<p class="indent">Файлы LIC содержат регистрационную информацию и используются для идентификации компьютера и прикрепленной лицензии. </p>	
					<p class="indent">Файл LIC создается, когда пользователь регистрирует активирует пин-код от программной лицении 1С.</p>	
					<p class="indent">Файлы с расширением .lic часто зашифрованы/закодированы для обеспечения должного уровня безопасности лицензионных прав программ, хотя иногда они могут сохраняться в обычном текстовом формате.</p>
					<p class="indent">Штатные средства 1С, такие как ring, позволяют получить из файла LIC следующую информацию:</p>
					<ul>
						<li>Номер поставки</li>
						<li>Текущий активированный пин-код</li>
						<li>Информацию о пользователе, которая была заполнена при активации лицензии</li>
					</ul>
					<p class="indent">Выберите до 25ти файлов LIC в форме ниже и мы постараемся достать эту информацию из них.</p> <br><br>
				<div align="center">
					<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<p>{{ form.non_field_errors }}</p>
					
						<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
					
						<p>
							{{ form.docfile.errors }}
							{{ form.docfile }}
						</p>
					
						<p><input type="submit" value="Загрузить"/></p>
					</form>
				</div>				
			</td>
		</tr>		
	</table>	
</div>

{% endblock main %}