{% extends "abstract.html" %}

{% block title %}Не найдено{% endblock title %}

{% block main %}
    <div align="center">
        <div class="package_table">
            <h1>Ошибка обработки файла</h1>
            {{ errors|safe }}
            <p>Вернитесь обратно и попробуйте снова</p>
        </div>
        <a href="{% url 'list' %}">Назад</a>
    </div>
{% endblock main %}