body {
    background: honeydew;
}

.package_table {
    font-family: 'Arial';
    font-size: 14px;
    color: black
}

.package_table.td, .package_table.tr {
    text-align: left
}

table {
    border: black solid 2px
}

.down {
    text-align: right;
    font-family: Arial, monospace;
    font-style: italic;
    font-size: 18px;
}

.cen {
    text-align: center;
}
/* 
.form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
    color: darkslategrey;
    margin-left: 20%;
} */